.mobile-compose {
  display: none;
}

.compose-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

form.compose-form {
  display: flex;
  flex-direction: column;
}

.compose-form input,
.compose-form textarea {
  border: none;
  background: #f1f3f4;
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
}

.form-btns {
  padding: 6px;
}
