.search-bar-container {
  height: fit-content;
  background: white;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #80808087;
}
section.search-bar {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 10vh;
  flex-direction: column;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

input.search-txt {
  background: #f1f3f4;
  max-width: 41vw;
  width: 100%;
}

.search-bar input,
.search-bar select {
  border-radius: 6px;
  border: none;
  background: #f1f3f4;
  padding: 0px 16px;
  height: 50px;
}

.hamburger {
  display: none;
}

.search-wrapper {
  width: 100%;
  justify-content: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
