.table {
  display: table;
}

.row {
  border-bottom: 1px solid black;
}

.preview {
  width: 100%;
  display: table-row-group;
}

.cell {
  display: table-cell;
  border-bottom: 1px solid gray;
  max-width: 15%;
}
