.search-bar-container {
  height: fit-content;
  background: white;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #80808087;
}
section.search-bar {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
input.search-txt {
  background: #f1f3f4;
  max-width: 41vw;
  width: 100%;
}

.search-bar input,
.search-bar select {
  border-radius: 6px;
  border: none;
  background: #f1f3f4;
  padding: 0px 16px;
  height: 50px;
}

.hamburger {
  display: none;
}
