body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
  white-space: break-spaces;
}

.container {
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0px;
}

button {
  text-decoration: none;
  background: #1967d2;
  padding: 10px 20px;
  width: 126px;
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}
