body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0px;
  padding-inline: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  width: 100vw;
  height: 100vh;
}
