.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  height: 57px;
  padding: 0px 20px;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  right: 55px;
  top: 74px;
  background-color: whitesmoke;
  z-index: 2;
  padding: 15px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  border-radius: 3px;
}

.menu-icon-container {
  width: 71px;
  height: 100%;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  box-sizing: border-box;
}
.menu-icon-container.fa-bars:before {
  content: '\f0c9';
  position: absolute;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
.menu-icon-container:hover {
  color: #d32e2a;
}

.menu-icon-container.active.fa-bars:before {
  content: '\f00d';
  color: #d32e2a;
}
/**/

.menu-icon-container:hover .menu-bar.active {
  animation: none;
}
/* .active .one {
}
.active .two {
}
.active .three {
}
.active .four {
}
.active .five {
}
.active .six {
}
.active .seven {
}
.active .eight {
}
.active .nine {
} */

.logo-img {
  height: 39px;
  width: 39px;
  object-fit: contain;
}
img#menuIcon {
  height: 30px;
}
.nav-link img {
  height: 50px;
  width: 50px;
  margin-bottom: 3px;
}

.main-nav i {
  font-size: 50px;
  color: #d32e2a;
  /* background: #8080808c; */
  padding: 10px;
}
