/* NOTE DETAILS */

.note-details-modal{
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(0,-50%);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    padding: 24px;
    z-index: 100;
    width: 90%;
    background-color: white;
}

.screen {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
}

body .selectedBook.screen {
    background-color: #141414;
    pointer-events: auto;
    opacity: 0.7;
    inset: 0;
    z-index: 10;
}

.note-add {
    display: flex;
    justify-content: space-between;
}