/* NOTE DETAILS */

* {
    box-sizing: border-box;
}

.note-details-modal {
    display: flex;
    flex-direction: column;
    padding: 24px;
    max-width: 400px;
    /* max-height: 400px; */
    background-color: rgb(48, 244, 244);
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 100vh rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.video-text, .img-text {
    background-color: rgb(147, 237, 255);
    border-radius: 5px;
}

.youtube-section {
    min-width: 100%;
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

.screen {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
}

.url-edit {
    max-width: 100%;
}

.note-edit-form img {
    width: 100%;
}

body .selectedNoteId.screen {
    pointer-events: auto;
    inset: 0;
}

.note-add-div {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.chosen-btn {
    background-color: red;
    border-radius: 5px;
}

#ytplayer {
    max-width: 100%;
}

.note-action {
    opacity: 0;
    transition: opacity 0.3s;
}

.note-action.active {
    opacity: 1;
    z-index: 10;
}

.new-note-input {
    padding: 7px;
}

.add-btn {
    display: inline-block;
    padding: 7px;
}

.note-add {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 600px; */
    /* text-align: center; */
}

/* NOTE LIST */

.note-list {
    column-count: 3;
    column-gap: 1rem;
}

.note-preview-container:not(:first-of-type) {
    margin: 1rem 0;
    column-fill: balance;
    break-inside: avoid-column;
    height: fit-content;
    background-color: lightblue;
    border: 1px solid black;
}

.note-preview-container:first-of-type {
    break-inside: avoid-column;
    height: fit-content;
    background-color: lightblue;
    border: 1px solid black;
}

.img-note img {
    width: 100%;
}

h3 {
    text-align: center;
}

.title-box {
    background-color: aqua;
    font-size: 1.5rem;
}

.text-box {
    min-width: 100%;
}

.url-edit {
    min-width: 100%;
}

.note-details-img {
    max-width: 50%;
    text-align: center;
}

.noteImgExplanation {
    text-align: start;
}